<p>
<%= f.label 'name' %><br />
<%= f.text_field :name %>
</p>

<p>
<%= f.label 'version' %><br />
<%= f.text_field :version %>
</p>

<p>
<%= f.label 'app_id', 'App ID' %><br />
<%= f.text_field :app_id %>
</p>

<p>
<%= f.label 'bundle_id', 'Bundle identifier' %><br />
<%= f.text_field :bundle_id %>
</p>

<p>
<%= f.label 'Icon' %><br />
<%= f.file_field :icon %>
</p>
